body {
    font-family: var(--base-font);
  }
  
  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }

  // h3 {
  //   @include tel {
  //     font-size: 28px;
  //     line-height: 1.17;
  //   }
  //   @include tab { 
  //     font-size: 28px;
  //     line-height: 1.17;
  //   }
  //   @include desk {
  //     font-size: 36px;
  //     line-height: 1.16;
  //   }
  // }