.advant__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;

    @include tel{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: #F5F4FA;
    }
    
    
    @include desk {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        margin-bottom: 30px;
        background-color: #F5F4FA;
      }
  }
  
   .radar {
    width: 65.32px;
    height: 70px;
    justify-content: center;
  }
  
  .clock {
    width: 66.96px;
    height: 70px;
    justify-content: center;
  }
  
  .laptop {
    width: 70px;
    height: 53.69px;
    display: flex;
    justify-content: center;
  }
  
  .astronaut {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
  }
  
  .advantages {
    padding-top: 94px;
    display: flex;
    justify-content: center;
  }
  
  .advant {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .advant__item {

    @include tel {
      font-family: var(--base-font);
      width: 100%;
    }

    @include tab {
      margin-left: 30px;
      flex-basis: calc(100% / 2 - 30px);
       
        &:first-child {
          margin-left: 0px;
        }
        &:nth-child(-n+2) {
        margin-bottom: 30px;
        }
        &:nth-child(3) {
        margin-left: 0;
        }
      }

    @include desk {
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
      &:first-child {
        margin-left: 0px;
      }
      &:nth-child(-n+2) {
        margin-bottom: 0;
        }
        &:nth-child(3) {
        margin-left: 30px;
        }
    }
  }
  
  .advant__title {
    @include tel {
      font-family: var(--base-font);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #212121;
      margin-bottom: 10px;
      text-align: center;
    }

    @include tab {
      text-align: left;

    }
  
    
  }
  
  .advant__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--base-font-color);
  }