.team-section {
    padding: 94px 0;
    background-color: #f5f4fa;
  }
  
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .team {

    @include tel {
      display: block; 
    }
   
   @include tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   }

   @include desk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
   }
    
  }
  
  .team__item {
    list-style-type: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    

      @include tel {
        display: block;
        width: 100%;
      }

      @include tab {
        display: flex;
        flex-direction: column;   
        &:not(:first-child) {
          margin-left: 30px;
        }

        &:nth-child(-n+2) {
          margin-bottom: 30px;
        }

        &:nth-child(3) {
          margin-left: 0;
        }

        width: calc(100% / 2 - 30px);
      }

      @include desk {
        display: flex;
        margin-bottom: 0;
        &:nth-child(-n+2) {
          margin-bottom: 0;
        }
        &:nth-child(3) {
          margin-left: 30px; 
        }
      }
  }

.team__icon {
    @include tel {
      width: 100%;
    }

    @include tab {
      width: 339px;
    }

    @include desk {
      width: 270px;
    }
  }
  
  .team__member-info {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
  }
  
  .team__name {
    color: var(--title-font-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .team__position {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--base-font-color);
    text-align: center;
  }
  
  /* SOCIAL MEDIA */
  .sm {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .sm__item {
    display: flex;
    flex-direction: row;
      &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .sm__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:active, &:focus {
      background-color: var(--second-font-color);
    }
  }
  
 
  .sm__svg {
    fill: #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      .sm__link:hover &, .sm__link:active &, .sm__link:focus &  {
        fill: white;
      }
  }

  
  .sm__item .sm__svg--instagram {
    width: 16.86px;
    height: 16.86px;
  }
  
  .sm__item .sm__svg--twitter {
    width: 20px;
    height: 16.25px;
  }
  
  .sm__item .sm__svg--facebook {
    width: 10px;
    height: 20px;
  }
  
  .sm__item .sm__svg--linkedin {
    width: 20px;
    height: 20px;
  }
  