.wwd {
    @include tel {
      // position: absolute;
      // transform: rotateY(100%); ////ХЗХЗХЗ
      visibility: hidden;
    }
    @include tab {
      // position: absolute;
      // transform: rotateY(100%); ////ХЗХЗХЗ
      visibility: hidden;
      
    }
    @include desk {
      // position: absolute;
      // transform: rotateY(-100%); ////ХЗХЗХЗ
      visibility: visible;
      padding-bottom: 94px;
      padding-top: 94px;
    }
  }

  .wwd__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .wwd__list {
    display: flex;
  }
  
  .wwd__item {
    list-style-type: none;
      &:not(:first-child) {
    margin-left: 30px;
  }
  }
  
  .wwd__wrapper {
    position: relative;
  }
    
  .wwd__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
  }