

 
/* ADVANTAGES SECTION */



/* WWD SECTION */


/* TEAM SECTION */


/* CLIENTS SECTION */



/* PORTFOLIO FILTER SECTION */


/* PORTFOLIO SECTION */



/* FOOTER */



/* SUBSCRIPTION SECTION */


/* _________________________________________ */



/* .navbar {
  width: 200px;
  background-color: #fff;
}

.navbar-item {
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}


.navbar-item:hover {
  color: #2a2a2a;
  background-color: teal;
} */
